{% comment %} {% assign avg_rating = block.settings.product.metafields.demo.avg_rating.value | round %}
<span style="color:{{ block.settings.colour }}">
  {% render 'stars', rating: avg_rating %}
</span>
{% if avg_rating >= 4 %}
  <br>
  <img src="{{ "thumbs-up.png" | asset_img_url: '15x' }}" height="15" width="15" loading="lazy">
  {{ 'ratings.home.recommendationText' | t }}
{% endif %} {% endcomment %}
<div class="faq-container">
  {% comment %} FAQ Title Div {% endcomment %}
  <div class="faq-title-container">
    <h2 class="faq-block-title">{{ block.settings.title }}</h2>
  </div>

  {% comment %} <div>
    {%assign bundles = shop.metafields.faq_manager.faq_data.value.bundles  %}
      {%for bundle in bundles %}
        {% assign faqs = bundle.faqs %}
        <p>Bundle: {{  bundle }}</p>    
      {% endfor %}
  </div> {% endcomment %}

  <div>
    {%assign bundles = shop.metafields.faq_manager.faq_data.value.bundles  %}
      {%for bundle in bundles %}
        {% assign faqs = bundle.faqs %}
        {% if faqs.size > 0 %}
          <p>Bundle: {{  bundle.title }}</p> 
          {% for faq in faqs %}
            <details>
              <summary class="faq-summary">
                <h3>
                  <span>{{ faq.title }}</span>
                  <span class="icon">&#43;</span> 
                </h3>
              </summary>
              <p>{{ faq.description }}</p>
            </details>
          {% endfor %}
        {% endif %}
      {% endfor %}
  </div>
</div>





{% schema %}
{
  "name": "FAQ Manager",
  "target": "section",
  "stylesheet": "faq-manager-styles.css",
  "settings": [
    { "type": "text", "id": "title", "label": "Title" },
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}

